.board {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.button {
    display:inline-block;        
    margin:0 auto;
    width: 100px; 
    height: 50px;
}

.wrapper {
    display: flex;
    justify-content: center;
  }

  .img {
    height: 5%;
    width: 5%;
    display: flex;
    justify-content: center;
  }

