.light-tile {
    background-color: white;
    
      
}

.dark-tile {
    background-color: black;
}

div {
  display: flex;
  width: 12.25vw;
  height: 88px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    
}

.selected {
    background-color: blue;
}

.available {
    background-color: red;
}

.turn {
    background-color: lightyellow;
}

.middle {
    display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
