.light-tile {
    background-color: white;
}

.dark-tile {
    background-color: black;
}

div {
    display: inline-block;
    width: 12.5%;
    height: 80px;
}

.selected {
    background-color: blue;
}

.available {
    background-color: red;
}

.turn {
    background-color: lightyellow;
}