<h1 style="text-align: center;">Homemade Checkers</h1>

<ul style=
"list-style-position: inside;
text-align: left;">
    <h2>Details about the project</h2>
    <li>Created from scratch using no libaries.</li>
    <li>Persistance managed by a Postgres database.</li>
    <li>Backend logic using Spring security and Java.</li>
    <li>Front provided by Angular and Typescript.</li>
    <br>
    <h2>Special Uses</h2>
    <li>Allows users to play to hop into previous unfinished games.</li>
    <li>Allows players to rewind their moves.</li>
    <br>
    <h2>Rules of Checkers</h2>
    <li>Red Moves First.</li>
    <li>Pieces can only move on the diagonals.</li>
    <li>Red pawns can only move on the up diagonals and black on the down diagonals.</li>
    <li>You must capture all of your opponents pieces in order to win.</li>
    <li>A player captures pieces by hopping over their opponents piece onto an empty tile in the direction they're permitted to travel.</li>
    <li>Upon reaching the opposite side of their origin, pawns become "kings" and my travel on all four diagonals.</li>
    <li>Upon capturing an opponent, if an immediate opportunity for the piece to continue capturing is present, the subsequent capture must occur.</li>
    <br>
    <h2>Future Plans</h2>
    <li>Implement login system.</li>
    <li>Allow users to access their past games.</li>
    <li>Create a ranking system.</li>
    <li>Allow matchmaking between players of similar rank.</li>
  </ul>