.dot {
    height: 50%;
    width: 50%;
    
  }

  .pawn {
	width: 80%;
	height: 80%;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.king {
  height: 60%;
  width: 60%;
}
