.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pawn {
	width: 80%;
	height: 80%;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

