<div class="middle"
*ngIf="tileRep.hasRedKing()">
<img src="./assets/images/red_king.png" 
class="king">
</div>
<div class = "middle"
*ngIf="tileRep.hasBlackPawn()">
<img src="./assets/images/black.png" 
class="dot">
</div>
<div class="middle"
*ngIf="tileRep.hasBlackKing()">
    <img src="./assets/images/black_king.png" 
    class="king">
</div>
<div class = "middle"
*ngIf="tileRep.hasRedPawn()">
    <img src="./assets/images/red.png" 
    class="dot">
</div>
<div style="color:white"
*ngIf="tileRep.hasNothing()">
 
</div>